* {
    box-sizing: border-box;
    border: 2px;
}

.zero {
    grid-area: zero-position;
}

.one {
    grid-area: one-position;
}

.two {
    grid-area: two-position;
}

.three {
    grid-area: three-position;
}

.four {
    grid-area: four-position;
}

.five {
    grid-area: five-position;
}

.six {
    grid-area: six-position;
}

.seven {
    grid-area: seven-position;
}

.eight {
    grid-area: eight-position;
}

.nine {
    grid-area: nine-position;
}

.clear {
    grid-area: clear-position;
}

.back {
    grid-area: back-position;
}

.division {
    grid-area: division-position;
}

.multiplication {
    grid-area: multiplication-position;
}

.subtraction {
    grid-area: subtraction-position;
}

.addition {
    grid-area: addition-position;
}

.equals {
    grid-area: equals-position;
}

.final-result {
    grid-area: result-position;
    background-color: black;
    color: aliceblue;
}

.calculator-body {
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "result-position result-position result-position result-position"
        "clear-position  clear-position  back-position   division-position"
        "seven-position  eight-position  nine-position   multiplication-position"
        "four-position   five-position   six-position    subtraction-position"
        "one-position    two-position    three-position  addition-position"
        "zero-position   zero-position   zero-position   equals-position";
}

.calculator-body button {
    width: 100%;
    height: 100%;
}

.operation {
    background-color: rgb(223, 151, 76);
}

.equals-button {
    background-color: rgb(223, 151, 76);
}

.num back-button {
    background-color: rgb(216, 217, 219);
}

button {
    font-size: 50px;
    font-family: sans-serif;
}

button:hover {
    background-color: rgb(179, 164, 164);
}

.final-calculation {
    font-size: 50px;
    text-align: right;
}